<p>
  <strong>Resource:</strong>
  <%= @booking.resource.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user.name %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
