* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.wrapper {
  max-width: 985px;
  margin: 0 auto;
  @include clearfix();
}

.alert {
  color: $darker_green;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid $lighter_green;
}
