* {
  margin: 0;
  padding: 0;
}

body {
  @extend ._fn16;
}

div {
  box-sizing: border-box;
}

.wrapper {
  max-width: 985px;
  margin: 0 auto;
  @include clearfix();
}

.alert {
  color: $darker_green;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid $lighter_green;
}

a {
  color: $base_green;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $darker_green;
  }
}

hr {
  clear: both;
  margin-bottom: 15px;
}

.small {
  width: 20%;
}

.hidden {
  display: none;
}

.naranco {
  width: 38%;
  height: 200px;
  margin: 20px auto;
  background: image-url('bitmap.png') no-repeat;
  background-size: contain;
}
