.btn {
  height: 25px;
  float: left;
  padding: 10px 10px 4px 10px;
  margin-top: 20px;
  background-color: $base_green;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  &:hover {
    background: $lighter_green;
    text-decoration: none;
  }

  &:before {
    content: '+ ';
  }
}
