.btn {
  height: 25px;
  float: left;
  padding: 10px 10px 0 10px;
  margin-top: 20px;
  background-color: $base_green;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  &:hover {
    background: $lighter_green;
    text-decoration: none;
  }

  &:before {
    content: '+ ';
  }

  &.without-plus {
    &:before {
      content: '';
    }
  }
}

input[type="submit"] {
  @extend .btn;
  padding: 10px 10px 25px 10px;
  margin-right: 15px;
  border: 0;
}
