default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  database: narantic
  socket: /tmp/mysql.sock

test:
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  database: narantic_test
  socket: /tmp/mysql.sock
