
.topbar {
  width: 100%;
  height: 30px;
  background-color: $black;
  @extend ._fn13;
  color: #fff;
  ul {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    li {
      align-self: center;
      margin-left: 15px;
      a {
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

header {
  background-color: $base_green;
  h1 {
    display: block;
    float: left;
    margin-right: 3%;
    a {
      color: #fff;
      @extend ._fb30;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}

#menu {
  width: 80%;
  height: 80px;
  display: flex;
  float: left;
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    li {
      display: inline-block;
      width: 14%;
      align-self: center;
      text-align: center;
      border-left: 1px solid #fff;
      &:first-child {
        padding-left: 0px;
        border-left: 0;
      }
      a {
        color: #fff;
        text-decoration: none;
        vertical-align: middle;
        &:hover {
          color: $lighter_green;
        }
      }
    }
  }
}
