
.topbar {
  width: 100%;
  height: 30px;
  background-color: $black;
}

#menu {
  width: 100%;
  height: 120px;
  background-color: $base_green;
  h1 {
    a {
      color: #fff;
    }
  }
  ul {
    li {
      display: inline-block;
      padding: 0 20px;
      &:first-child {
        padding-left: 0px;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
