
.topbar {
  width: 100%;
  height: 30px;
  background-color: $black;
}

header {
  background-color: $base_green;
  h1 {
    display: block;
    float: left;
    margin-right: 3%;
    a {
      color: #fff;
    }
  }
}

#menu {
  width: 80%;
  height: 80px;
  display: flex;
  float: left;
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    li {
      display: inline-block;
      width: 14%;
      align-self: center;
      &:first-child {
        padding-left: 0px;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
