<div class="element">
  <div class="data">
    <p><strong>Nombre: </strong>
    <%= @resource.name %></p>
  </div>
</div>

<%= link_to 'Editar', edit_resource_path(@resource) %> |
<%= link_to 'Volver', :back %>
