.last-updates {
  width: 100%;
  margin-top: 20px;
  .last-update {
    width: 24%;
    display: inline-block;
    margin-left: 0.3em;
    padding: 10px;
    vertical-align: top;
    border: 1px solid $base_green;
    p {
      margin-bottom: 15px;
    }
    p:first-child {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }
}
