table.listing {
    width: 100%;
    margin: 35px 0 40px 0;
    tr {
      border-top: 1px solid #000;
      th {
        @extend ._fb18;
      }
      &.headers {
        text-transform: uppercase;
        color: #000;
        border-top: 0;
      }
      &:first-child {
        border: 0;
      }
    }
    td {
      padding: 20px;
      vertical-align: top;
    }
    &.medium {
      width: 50%;
    }
    &.small {
      width: 25%;
    }

}
