table.listing {
    margin: 40px 0 40px 0;
    tr {
      border-top: 1px solid #000;
      &.headers {
        text-transform: uppercase;
        font-size: 18px;
        color: #000;
        border-top: 0;
      }
      &:first-child {
        border: 0;
      }
    }
    td {
      padding: 20px;
      vertical-align: top;
    }

}
