
/* lib */
@import "lib/normalize";

/* base */
@import "base/variables";
@import "base/utils";
@import "base/base";

/* layout */
@import "layout/header";

/* blocks */
@import "blocks/last_updates_block";

